body {
    font-family: "Quicksand", monospace;
    font-size: 14px;
}

$temp_green: #8bc34a;

a {
    color: $temp_green;

    &:hover {
        background-color: $temp_green;
        color: $white;
        text-decoration: none;
    }
}

.browserupgrade {
    margin: .2em 0;
    padding: .2em 0;
    background: $gray-lighter;
    color: $black;
}

.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    z-index: 10;
}

.loading-container {
    position: absolute;
    top: 40vh;
    width: 100%;
    z-index: 11;

    .loading {
        width: 100%;
        margin: 0 auto;
        color: $white;
        text-align: center;
    }
}

.venue-name {
    letter-spacing: .15em;
    text-decoration: underline;

    a {
        color: $black;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}

.card-panel {
    border: 1px solid;
    border-color: $gray-light-mid;

    &.title-panel {
        color: $white;
        font-size: 2em;
    }

    p {
        margin: 0;
        line-height: normal;

        &.venue-name {
            font-size: 140%;
        }

        &.event-artist {
            font-size: 120%;
        }

    }
}
