// bower:scss
// endbower

@import url("https://fonts.googleapis.com/css?family=Quicksand");

@import "variables";
@import "helpers";
@import "core";

.wrapper {
    max-width: 600px;
    margin: 0 auto;

    img {
        width: 100%;
        max-width: 600px;
        height: auto;
        box-shadow: 0 0 0 3px $black, 0 0 100px 3px rgba(0, 0, 0, .5);
    }

    .event-list {
        height: calc(100vh - 120px);
        padding: 0 10px;
        background-color: $gray-darker;
        color: $white;
        box-shadow: 0 0 0 4px $black;
        overflow-x: scroll;

        ul {
            padding: 0;
            list-style-type: none;
        }

        pre {
            // margin: 0;
        }
    }
}

.today {
    &:before {
        display: block;
        color: $green;
        font-weight: bold;
        content: "TODAY";
    }
}

.band {
    position: fixed;
    top: 30vh;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $gray-darker;
    box-shadow: 0 0 0 4px $black;
    z-index: -1;
}

a {
    color: $white !important;
    text-decoration: none !important;

    &:hover {
        color: $green !important;
        text-decoration: underline !important;
    }
}

h1 {
    margin: 10px 0;
    color: $gray-lighter;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
    letter-spacing: 10px;
    text-align: center;


    &.link-out {
        letter-spacing: normal;
        // text-decoration: underline;
    }
}



@media (max-width: 600px) {
    .band {
        top: 30vh;
    }

    .pre {
        width: 100%;
    }

    .link-out {
        font-size: 1.5em;
    }
}


.browserupgrade {
    margin: .2em 0;
    padding: .2em 0;
    background: $gray-light-mid-mid;
    color: $black;
}
